#
#Read the sample-jadhoc.cfg for details 
# 
ExecutionMode=GUI
OSInUse=Linux
IPVersion=IPv4
IPAddress=192.102.158.1
IfaceName=eth1
IPAddressGateway=192.102.158.2
LoopbackIfaceName=lo
LoggingStatus=No
LoggingLevel=1
LogFile=./jadhoc.log
PathToSystemCmds=/sbin
OnlyDestination=Yes
GratuitousRREP=No
RREPAckRequired=no
IPAddressMulticast=255.255.255.255
RERRSendingMode=unicast
DeletePeriodMode=Hello
RouteDiscoveryMode=non-ERS
PacketBuffering=Yes
ActiveRouteTimeout=3000
AllowedHelloLoss=3
HelloInterval=1000
LocalAddTTL=2
NetDiameter=20
NodeTraversalTime=40
RERRRatelimit=10
RREQRetries=5
RREQRateLimit=10
TimeoutBuffer=2
TTLStart=5
TTLIncrement=2
TTLThreshold=15
