#
#Read the sample-jadhoc.cfg for details
#
ExecutionMode=GUI
OSInUse=Windows
IPVersion=IPv4
IPAddress=104.101.112.230
IfaceName=\Device\Packet_{CAC60C5E-0D14-4819-9689-6ABEC779E382}
IPAddressGateway=104.101.112.225
LoopbackIfaceName=\Device\Packet_{CAC60C5E-0D14-4819-9689-6ABEC779E382}
LoggingStatus=No
LoggingLevel=1
LogFile=./jadhoc.log
PathToSystemCmds=c:\WINNT\system32
OnlyDestination=Yes
GratuitousRREP=No
RREPAckRequired=No
IPAddressMulticast=255.255.255.255
RERRSendingMode=unicast
DeletePeriodMode=Hello
RouteDiscoveryMode=non-ERS
PacketBuffering=No
ActiveRouteTimeout=6000
AllowedHelloLoss=3
HelloInterval=1000
LocalAddTTL=2
NetDiameter=20
NodeTraversalTime=40
RERRRatelimit=10
RREQRetries=5
RREQRateLimit=10
TimeoutBuffer=2
TTLStart=5
TTLIncrement=2
TTLThreshold=15
